@import url('https://fonts.googleapis.com/css2?family=Play&family=Press+Start+2P&family=Special+Elite&display=swap');

*{
    margin: 0;
    background-color: blueviolet;
}

.score{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    color: whitesmoke;
    font-weight: 600;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: 'Press Start 2P', cursive;
}

.player, .comp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin: 20px;
}

p{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: white;
    font-family: 'Special Elite', cursive;
    margin-top: 30px;
}

.choiceimg{
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    margin: 40px;
}

img{
    width: 120px;
    margin: 20px;
}

.rps{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 60px;
}

button{
    background-color: #29cb2e; /* Green */
    transition-duration: 0.4s;
    border-radius: 5px;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Special Elite', cursive;
}

button:hover {
    background-color: #00e10b; /* Green */
    color: white;
}

.replay{
    display: flex;
    justify-content: center;
    align-items: center
    ;
}